<form method="post">
	<input type="hidden" name="id" id="id">
	<input type="text" name="name" id="name">
	<input type="text" name="reps" id="reps">
	<input type="text" name="weight" id="weight">
	<input type="date" name="date" id="date">
	<input type="text" name="lbs" id="lbs">
	<input type="submit" id="addItem" value="Add Item">
</form>

{{#if results}}
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Date</th>
			<th>lbs</th>
		</tr>
	</thead>
	{{#each results}}
	<tbody>
		<tr>
			<td>{{this.name}}</td>
			<td>{{this.reps}}</td>
			<td>{{this.weight}}</td>
			<td>{{this.date}}</td>
			<td>{{this.lbs}}</td>
			<td><input type="submit" name="edit{{this.id}}" value="Edit" /></td>
			<td><input type="submit" name="delete{{this.id}}" value="Delete" /></td>
		</tr>
	</tr>
	{{/each}}
	</tbody>
</table>
{{/if}}