<form method="post">
	<input type="hidden" name="id" id="id">
	<input type="text" name="name" id="name">
	<input type="text" name="reps" id="reps">
	<input type="text" name="weight" id="weight">
	<input type="date" name="date" id="date">
	<input type="text" name="lbs" id="lbs">
	<input type="submit" name="addItem" value="Add Item">
</form>

{{#if rows}}
<table>
	<thead>
		<tr>
			<th><input type="hidden"></th>
			<th>Name</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Date</th>
			<th>lbs</th>
		</tr>
	</thead>
	{{#each rows}}
	<tr>
		<td><input type="hidden" id="{{this.id}}</td>
		<td>{{this.name}}</td>
		<td>{{this.reps}}</td>
		<td>{{this.weight}}</td>
		<td>{{this.date}}</td>
		<td>{{this.lbs}}</td>
	</tr>
	{{/each}}
</table>
{{/if}}