{{#if results}}
{{#each results}}
<form method="post">
	<input type="hidden" name="{{this.id}}" id="id" />
	<input type="text" name="name" id="name" placeholder="{{this.name}}">
	<input type="text" name="reps" id="reps" placeholder="{{this.reps}}">
	<input type="text" name="weight" id="weight" placeholder="{{this.weight}}">
	<input type="text" name="date" id="date" placeholder="{{this.date}}">
	<input type="text" name="lbs" id="lbs" placeholder="{{this.lbs}}">
	<input type="submit" id="editItem" value="Submit">
</form>
{{/each}}
{{/if}}